.nav-div {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 820px;
  height: 250px;
  justify-content: flex-end;
  align-items: middle;
  flex-direction: column;
  background-image: url('/pictures/banner2.jpg');
  -ms-background-position-x: center;
  -ms-background-position-y: center;
  background-position: center 65%;
  font-size: 40px;
  font-family: 'Kaushan Script', cursive;
  color: black;
  text-shadow: 2px 2px #ccc;
  background-size: cover;
  margin: 0 auto;

  .title-container {
    position: absolute;
    left: 15%;
    top: 2%;
  }
    input {
    font-family: 'Kaushan Script', cursive;
    align-self: center;
    margin-left: 20px;
    font-size: 40px;
    color: #000;

  }
  input {
    padding: 5px;
    border: 2px solid white;
  }
  .edit {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    color: white;
  }
  .edit:hover {
    background-color: white;
    color: black;
  }
}
.group-nav-container {
  min-height: 50px;
  min-width: 820px;
  position: relative;
  background-color: #DF1B1B;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family:'Dosis', sans-serif;
  font-weight: 700;
  li:hover {
    color: white;
  }
}
@media (min-width: 1244px){
  .nav-div {
      background-image: url('/pictures/banner-sm.jpg');
      -ms-background-position-x: center;
      -ms-background-position-y: center;
      background-position: center 65%;

      background-size: cover;
  }
}

.admin-group-nav {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: white;

  li {
    cursor:pointer;
    margin-right: 20px;
  }
}

.nav-modal-anim-enter {
  transition: all 1s ease-out 0.2s;
  -webkit-transition: all 1s ease-out 0.2s;
  -o-transition: all 1s ease-out 0.2s;
  -moz-transition: all 1s ease-out 0.2s;
}

.back-nav {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}

.back-nav li {
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.back-nav li:hover,
.join-group:hover,
.leave-group:hover{
  color: black;
  transition: all 1s ease-out 0.2s;
  -webkit-transition: all 1s ease-out 0.2s;
  -o-transition: all 1s ease-out 0.2s;
  -moz-transition: all 1s ease-out 0.2s;
}

.join-group,
.leave-group {
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}
