.event-by-date {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    width: 80%;
    max-width: 500px;
    min-width: 400px;
    height: 80%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px 10px #ccc;
    background: rgba(0, 0, 0, 0.9);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
    padding: 30px;
}
