.password-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 15px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 0 1px 1px #e3e3e3;
    opacity: 1;
    background: #FFF;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
    padding: 20px;
}

.password-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;

    .close-icon {
        position: static;
        width: 20px;
        height: 20px;
        margin-left: 97%;
        background-color: transparent;
        color: black;
    }

    .close-icon:hover {
        color: red;
    }

    .hint {
        position: relative;
        color: red;
        margin-bottom: 35px;
    }

    #change-password {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        font-size: 16px;

        input {
            border-width: 0 0 1px 0;
            padding: 5px 0px 7px 0px;
            margin-top: 1%;
        }

        input:focus {
            box-shadow: 0 2px 5px -5px #ccc;
        }
        input[type="submit"]{
            width: 50%;
            border-width: 0px;
            color: white;
            padding: 10px 15px;
            border-radius: 3px;
            text-align: center;
            align-self: center;
            background-color: #ce5938;
            margin-bottom: 0;

            &:hover {
                background-color: rgba(206, 89, 56, 0.75);
            }
        }

        .error {
            box-shadow: 0 0 5px 5px red;
        }
        .password-errors {
            font-size: 18px;
            font-weight: 700;
            color: red;
        }
    }

    h3 {
        font-size: 20px;
        align-self: center;
        margin-bottom: 5%;
    }
}