.profile-container {
  background-color: #f1f1f1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  /*padding: 20px 0;*/
}

.current-user-profile {
  margin-top: 5%;
  background-color: #f7f5fa;
  width: 60%;
  min-width: 450px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.7;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Slabo 27px', sans-serif;

  .user-name {
    text-align: center;
    font-size: 24px;
    background-color: #31a5c6;
    color: white;
    border-radius: 5px;
  }

  .sub-section {
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .profile-img {
    overflow: hidden;
    border-radius: 5px;
  }

  .profile-list {
    width: 60%;
    margin-left: 30px;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .profile-edit-button {
    margin-top: 7%;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
}

.profile-list > li {
  border-bottom: 2px solid black;
  padding: 20px 0;
  font-size: 16px;
  display: flex;
  justify-content: space-between;

  &:last-child {
    border-bottom: 0;
  }
}

.profile-list > li:first-child {
  border-top: 2px solid black;
}

.edit-profile,
.change-password {
  background-color: #a5c631;
  padding: 10px 15px;
  border-radius: 3px;
  color: white;
  width: 50%;
  text-align: center;
}

.edit-profile:hover,
.change-password:hover {
  opacity: 0.8;
  color: black;
}

.edit-profile {
  background-color: #31c652;
}

.group-list {
  text-indent: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    width: 50%;
    text-overflow: ellipsis;
    font-family: 'Roboto';
    a {
      color: black;

      &:hover {
        color: #333;
      }
    }
  }
}

.glist {
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.group-list ul {
  align-self: flex-end;
  flex-wrap: nowrap;
}