#root, html, body, .main-container, .page-container {
  height: 100%;
}

#body {
  overflow: scroll;
}

body {
  &.modal-open {
    overflow: hidden;
    position: fixed;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 9999;
}

.group-event-detail {
  font-size: 18px;
}

.active-tab,
.inactive-event-tab {
  cursor: pointer;
}

.active-tab:hover,
.inactive-event-tab:hover {
  color: #69f;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  display: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

.my-name {
  font-size: 24px;
  margin-right: 10px;
  font-family: 'Roboto Slab', sans-serif;
  color: black;
}

#staricon {
  position: absolute;
  top: 0;
  left: 50px;
  color: white;
  font-size: 160px;
  width: 500px;
  background-color: black;
  height: 200px;
  i {
    font-size: 160px;
  }
}

input {
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

button {
  margin: 0 5px;
}

.page-appear {
  opacity: 0.01;
}

.page-appear.page-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.forms-appear {
  -ms-filter: blur(25px);
  filter: blur(25px);
  -webkit-filter: blur(25px);
  -o-filter: blur(25px);
}

.forms-appear.forms-appear-active {
    -ms-filter: blur(0px);
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -o-filter: blur(0px);
  transition: all 0.5s ease-out;
}

.nav-list {
  max-width: 250px;
  min-width: 150px;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;

  a {
    color: black;
  }

  li {
    display: block;
    border-bottom: 2px solid #aaa;
    cursor: pointer;
  }

  li:first-child {
    border-top: 2px solid #aaa;
  }

  li:hover {
    background-color: #aaa;
    color: #eee;
  }
}

.nav-list-user {
  margin-top: 50px;
}

.calendar {
  width: 50px;
  height: 50px;
  background-image: url('/calendar-icon.png');
  background-size: cover;
  cursor: pointer;
}

.calendar:hover {
  opacity: 0.7;
}

.little-search-icon {
  font-size: 200px;
  color: black
}

.group-detail {
  width: 80%;
  margin: 10px auto 0 auto;
  opacity: 0.9;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

.tag-groups {
  color: black;
  font-size: 24px;
  font-family: 'Slabo 27px', sans-serif;
}

.map {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

.faded {
  opacity: 0.5;
}

.menu-icon {
  background-color:black;
  opacity: 0.8;
  position: fixed;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 34px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}

.menu-icon:hover {
  opacity: 0;
  transform: rotate(-180deg);
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
}

.menu-icon:hover + .nav-main {
  transform: translateX(0px);
}

.nav-main {
  width: 200px;
  padding: 20px 20px;
  position: fixed;
  box-shadow: 0px 1px 1px #c1c1c1;
  height: 100%;
  top: 0;
  background-color: #f1f1f1;
  z-index: 9999;
  transform: translateX(-300px);
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
}

.nav-main:hover {
  transform: translateX(0px);
}

.close-icon {
  right: 40px;
  top: 40px;
  width: 35px;
  height: 35px;
  color: white;
  font-size: 26px;
  text-align: center;
  border-radius: 5px;
  background-color: black;
  opacity: 0.8;
  position: fixed;
}

.menu-icon:hover,
.close-icon:hover {
  cursor: pointer;
  background-color: white;
  color: #666;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.redirect {
  color: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 16px;

  a {
    color: #3c69ff;
    cursor: pointer;
  }
}

.user-forms {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-flow: wrap;

  .form-line {
    max-width: 500px;
    padding-bottom: 15px;
    font-size: 18px;
    display: flex;
    position: relative;

    label {
      color: white;
      font-family: 'Dosis', sans-serif;
      min-width: 150px;
    }

    input {
      margin-bottom: 20px;
      padding: 5px;
      background-color: white;
      border-radius: 5px;
      width: 200px;
    }

    input:focus {
      border: 1px solid transparent;
      box-shadow: 0 0 3px 2px #969696;
    }


    .error-field {
      border: 1px solid #ff1414;
      box-shadow: 0 0 3px 2px #ff1414;
    }

    .error-field:focus {
      border: 1px solid transparent;
      box-shadow: 0 0 3px 2px #969696;
      & ~ .hint {
        display: none;
      }
    }

    .hint {
      font-size: 12px;
      color: #ff1414;
      right: 0;
      position: absolute;
      bottom: 10px;
    }
  }

  .guest-login,
  .button-create,
  .button-login  {
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;

  }

  .button-create:hover {
    background-color: rgba(255, 165, 0, 0.75);
  }

  .guest-login {
    width: 100px;
    text-align: center;
    &:hover {
      background-color: rgba(255, 165, 0, 0.75);
    }
  }

  .button-login {
    background-color: #72B49B;
    width: 100px;
    text-align: center;
    &:hover {
      background-color: rgba(114, 180, 155, 0.75);
    }
  }
}

.form-div h3 {
  color: white;
  text-align: center;
  font-size: 36px;
  font-family: 'Dosis', sans-serif;
}

.log-in-errors {
  color: red;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  text-indent: 20px;
}

.close-form {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: white;
  opacity: 1;
  cursor: pointer;
}

.close-form:hover {
  color: #69f;
}

.form-btn-div {
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
}

@media screen and (max-width: 490px){
  .user-forms {
    padding: 20px;

    .form-line { font-size: 20px; }
    label { width: 100px; }
    input { width: 200px; }
  }

  .form-btn-div { margin-top: 60px; }
}

.back-button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-image: url(https://cdn0.iconfinder.com/data/icons/realty-1/512/doghouse-256.png);
  background-size: cover;
}

.paw-print {
  position: absolute;
  bottom: 40px;
  left: 20px;
  width: 120px;
  height: 120px;
  background-image: url(http://image.spreadshirtmedia.com/image-server/v1/designs/11545505,width=200,height=200);
  background-size: cover;
}

#multiple-checkbox-div {
  display: flex;
  flex-direction: column;
}
