.event-query-item {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.title {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.group-title {
		font-size: 16px;
	}
	.time {
		align-self: flex-end;
		font-size: 18px;
	}
	.group-event-title {
		align-self: flex-end;
		font-size: 20px;
	}
}
@media (max-width: 787px) {
	.event-query-item {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		.title {
			align-items: flex-start;
			align-self: flex-start;
		}
		.time {
			align-self: flex-start;
		}
	}
}
.event-by-date .close-icon {
	background-color: transparent;
	position: static;
	margin: 0 0 0 95%;

}
.event-by-date button {
		width: 98%;
		font-size: 18px;
		padding: 5px 0;
		border: 3px solid white;
		margin-top: 10px;
		border-radius: 5px;
		text-align: center;
	}
.event-query-item:hover {
	background-color: #999;
}

