.menu-icon {
	background-color:black;
	opacity: 0.8;
	position: fixed;
	left: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
	color: white;
	font-size: 34px;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
}

.menu-icon:hover {
	opacity: 0;
	transform: rotate(-180deg);
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
}

.menu-icon:hover + .nav-main {
	transform: translateX(0px);
}

.nav-main {
  width: 180px;
  padding: 20px;
  position: fixed;
  box-shadow: 0px 1px 1px #E0E0E0;
  height: 100%;
  top: 0;
  background-color: white;
  z-index: 9999;
  transform: translateX(-300px);
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
}

.nav-main:hover {
	transform: translateX(0px);
}

.close-icon {
	right: 40px;
	top: 40px;
	width: 35px;
	height: 35px;
	color: white;
	font-size: 26px;
	text-align: center;
	border-radius: 5px;
	background-color:black;
	opacity: 0.8;
	position: fixed;
}

.menu-icon:hover,
.close-icon:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}
