.menu-icon {
	background-color:black;
	opacity: 0.8;
	position: fixed;
	left: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
	color: white;
	font-size: 36px;
	text-align: center;
	border-radius: 5px;
}
.close-icon {
	right: 40px;
	top: 40px;
	width: 50px;
	height: 50px;
	color: white;
	font-size: 38px;
	text-align: center;
	border-radius: 5px;
	background-color:black;
	opacity: 0.8;
	position: fixed;
}


.menu-icon:hover, .close-icon:hover {
	background-color: white;
	color: black;
}