@import '~assets/scss/mixins.scss';

.page-container {
  display: flex;
  flex-direction: column;
}

.group-info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  order: 2;
}

.group-tags {
  a {
    color: black;
    font-weight: 700;
  }
}

.group-home {
  font-family: 'OpenSans', sans-serif;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 3% auto 0 auto;
  justify-content: space-around;
  font-size: 16px;
  width: 90%;
  height: 100%;
  max-width: 1000px;
  flex: 1;

  .founded {
    margin-bottom: 10px;
  }

  .address {
    font-size: 22px;
    font-weight: 700;
  }

  .group-info {
    @include container-border;
    order: 1;
    flex-grow: 1;
    padding: 15px;
    margin-right: 15px;

    li {
      min-width: 150px;
      list-style-type: none;
    }

    .stats {
      display:flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
  }

  .group-description {
    @include container-border;
    position: relative;
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 10px;

    h3 {
      margin-top: 0px;
    }

    .edit {
      color: black;
      font-size: 20px;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .edit:hover {
      background-color: black;
      color: white;
    }

    #group-descript-text {
      border: 2px solid black;
      width: 80%;
      padding: 10px;
      border-radius: 5px;
    }
  }
}

.event-container {
  @include container-border;
  margin: 0;
  width: 100%;
  padding: 15px;
  flex: 1;
}

.group-member-container {
  @include container-border;
  order: 3;
  padding: 15px;
  border-radius: 2px;
  margin-left: 15px;
  flex-grow: 1;

  h3 {
    margin-top: 0px;
  }

  a {
    color: black;
    cursor: pointer;
  }

  .member-list {
    padding: 20px;

    li {
      font-size: 18px;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      cursor: pointer;

      .mini-pic {
        width: 30px;
        height: 30px;
        border-radius: 55px;
      }
    }

    li:hover {
      background-color: black;
      opacity: 0.8;
      color: white;
      width: 100%;
    }
  }
}

@media (max-width: 940px){
  .group-home {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;

    .group-info-container {
      order: 1;
    }

    .group-info {
      order: 2;
      width: 40%;
      margin-right: 0px;
    }

    .group-member-container {
      order: 3;
      width: 40%;
      margin-left: 10px;
    }

    .event-container {
      margin: 10px 0;
    }

    .group-description {
      margin-bottom: 0;
    }
  }
}