/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';
 @import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
 @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}
.group-event-detail {
	font-size: 18px;
}
input {
	border: 1px solid black;
}
a {
 	text-decoration: none;
 	color: #ccc;
 }
a:hover {
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin: 0;
}
button {
	margin: 0 5px;
}
/*.page-enter {
  opacity: 0.01;
}

.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.page-leave {
  opacity: 1;
}

.page-leave.page-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}*/
.nav-modal-enter {
	opacity: 0;
}
.nav-modal-enter.nav-model-enter-active {
	opacity: 1;
	transition: opacity 0.5s ease-in;
}
.nav-modal-leave {

}
.nav-modal-leave.nav-model-leave-active {
	
}
.page-appear {
  opacity: 0.01;
}

.page-appear.page-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.nav-list {
  max-width: 250px;
  min-width: 150px;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
	a {
		color: black;
	}
	li {
		display: block;
		border-bottom: 2px solid #aaa;
		cursor: pointer;
	}
	li:first-child {
		border-top: 2px solid #aaa;
	}
	li:hover {
		background-color: #aaa;
		color: #eee;
	}
}
.nav-list-user {
	margin-top: 50px;
}



.banner {
	background-image: url(https://images.unsplash.com/photo-1443750200537-00fd518bdc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=ad7a9ff44b3026fcf49d80830ffb20ee);
	height: 600px;
	width: 100%;
	 -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center bottom;

  /* scale bg image proportionately */
  background-size: cover;
}

.group-detail {
	width: 80%;
	margin: 10px auto 0 auto;
	opacity: 0.9;
	background-color: transparent;
	border: 2px solid #333;
	border-radius: 5px;
	padding: 20px;
	position: relative;
}

.group-index {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	.group-index-item {
		flex: 2 2 300px;
		height: auto;
		overflow: hidden;
		padding: 20px 0;
		margin: 0 10px 20px 10px;
		float: left;
		font-size: 24px;
	  font-family: 'Dosis', sans-serif;
	  color: white;
	  border-radius: 4px;
	}
	.hidden-tags {
		font-family: 'Dosis', sans-serif;
		font-size: 14px;
		display: hidden;
	}
	.group-index-item h4{
		font-size: 40px;
		text-align: center;
		vertical-align: center;
	}
	.group-index-item:hover {
		cursor: pointer;
		background-color: #aaa;

	}
	.group-index-item:hover .hidden-tags {
		display: block;
		color: white;
	}

}

/*.main-buttons {
	width: 20%;
	padding: 5px;
	border: 1px solid transparent;
}*/
#header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	button {
		align-self: flex-end;
		padding: 10px 15px;
		color: white;

		border-radius: 4px;
		font-size: 20px;
		cursor: pointer;
	}
	.join {
		background-color: #30690E;
	}
	.leave {
		background-color: #791710;
	}
	.join:hover {
		background-color: #BFE4A9;
	}
	.leave:hover {
		background-color: #DB7D76;
	}
	h2 {
		align-self: center;
	}
}
.user-button  {
	display: flex;
	position: absolute;
	font-family: 'Dosis', sans-serif;
	top: 30px;
	right: 50px;
	width: 300px;
	text-align: center;
	justify-content: space-around;
	li {
		border: 1px solid white;
		background-color: black;
		opacity: 0.8;
		font-size: 1.5em;
		padding: 5px 25px;
		border-radius: 5px;
		width: 80px;
	}
	li a:first {
		margin-right: 20px;
	}
	li:hover {
		font: black;
		background-color: white;
	}
}

.tag-groups {
	color: black;
	font-size: 24px;
	font-family: 'Slabo 27px', sans-serif;
}
.member-list {
	padding: 20px;
	li {
		font-size: 24px;
	}
}
.map {
	width: 500px;
	height: 500px;
}


.cf:after {
	content: "";
	display: block;
	clear: both;
}