/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';
 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}
a, a:hover {
 	text-decoration: none;
 	color: white;
 }
ul {
	list-style-type: none;
	margin: 0;
}
button {
	margin: 0 5px;
}

.nav-list {
  max-width: 250px;
  min-width: 150px;
  font-size: 24px;
	li {
		display: block;
		border-bottom: 2px solid #aaa;
	}
	li:first-child {
		border-top: 2px solid #aaa;
	}
	li:hover {
		background-color: #aaa;
		color: black;
	}
}
.banner {
	height: 350px;
	overflow: hidden;
	margin-top: -20px;
	img {
		height: auto;
		width: 100%;
	}
}

.page-container {
	margin: 0 auto;
	width: 80em;
	display: block;
}

.group-index-photos {
	min-width: 150px;
	width: 100%;
	margin: 0px;

}
.group-index-item {
	overflow: hidden;
	padding: 20px 0;
	margin: 0 60px 20px 20px;
	width: 25em;
	float: left;
/*	border: 3px solid black;
	border-radius: 7px;
	box-shadow: 2px 2px 5px black;*/
}
.group-index-item:hover {
	background-color: black;
}
.menu-icon {
	background-color:black;
	opacity: 0.8;
	position: fixed;
	left: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	color: white;
	font-size: 22px;
	text-align: center;
}

.menu-icon:hover {
	background-color: white;
	color: black;
}

.main-buttons {
	background-color: black;
	opacity: 0.8;
	width: 120px;
	height: 20px;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 5px;
	border: 1px solid transparent;
}

.user-button a:hover {
	font: grey;
}
.user-button  {
	li {
		float: left;
		font-size: 14px;
		whitespace: nowrap;
	}

	li:first-child {
		margin-right: 25px;
	}
}

.cf:after {
	content: "";
	display: block;
	clear: both;
}