/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Allura);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
 @import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
 @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}
.group-event-detail {
	font-size: 18px;
}
input {
	border: 1px solid black;
}
a {
 	text-decoration: none;
 	color: #ccc;
 }
a:hover {
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin: 0;
}
button {
	margin: 0 5px;
}

.nav-modal-enter {
	opacity: 0;
}
.nav-modal-enter.nav-model-enter-active {
	opacity: 1;
	transition: opacity 0.5s ease-in;
}
.nav-modal-leave {

}
.nav-modal-leave.nav-model-leave-active {
	
}
.page-appear {
  opacity: 0.01;
}

.page-appear.page-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.nav-list {
  max-width: 250px;
  min-width: 150px;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
	a {
		color: black;
	}
	li {
		display: block;
		border-bottom: 2px solid #aaa;
		cursor: pointer;
	}
	li:first-child {
		border-top: 2px solid #aaa;
	}
	li:hover {
		background-color: #aaa;
		color: #eee;
	}
}
.nav-list-user {
	margin-top: 50px;
}

.calendar {
	width: 70px;
	height: 70px;
	background-image: url('/calendar-icon.png');
	background-size: cover;
}

.banner {
	display: flex;
	position: relative;
	justify-content: flex-start;
	align-items: flex-end;
	background-image: url(https://images.unsplash.com/photo-1443750200537-00fd518bdc82?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=ad7a9ff44b3026fcf49d80830ffb20ee);
	height: 600px;
	width: 100%;
	 -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center bottom;
  background-size: cover;
  .logo {
  	color: white;
  	font-size: 96px;
  	font-family: 'Seaweed Script', cursive;
  	position: relative;
  	left: 80px;
  }
}

.group-detail {
	width: 80%;
	margin: 10px auto 0 auto;
	opacity: 0.9;
	background-color: transparent;
	border: 2px solid #333;
	border-radius: 5px;
	padding: 20px;
	position: relative;
}


.group-index {
	width: 85%;
	margin: 3% auto;
	display: flex;
	flex-wrap: wrap;
	min-width: 350px;

}
.group-index-item {
		flex: 2 2 300px;
		height: auto;
		overflow: hidden;
		padding: 20px 0;
		margin: 0 10px 20px 10px;
		float: left;
		font-size: 30px;
	  font-family: 'Dosis', sans-serif;
	  color: white;
	  border-radius: 4px;
	}
	#hidden-tags {
		font-family: 'Dosis', sans-serif;
		font-size: 30px;
		text-align: center;
		color: white;
		display: none;
				text-shadow: 1px 1px black;
	}
	.image-mask {
		width: 100%;
		background-color: black;
	}
	.group-index-item {
		min-height: 160px;
	}
	.group-index-item h4{
		font-size: 40px;
		text-align: center;
		text-shadow: 1px 1px black;
	}
	.group-index-item:hover {
		cursor: pointer;
		background-color: #aaa;
		opacity: 0.9;

	}
	.group-index-item:hover #hidden-tags {
		display: block;
		-webkit-filter: blur(0.5px);
	  -moz-filter: blur(0.5px);
	  -o-filter: blur(0.5px);
	  -ms-filter: blur(0.5px);
	  filter: blur(0.5px);
		-webkit-transition: 5s -webkit-filter linear;
		-moz-transition: 5s -moz-filter linear;
		-moz-transition: 5s filter linear;
		-ms-transition: 5s -ms-filter linear;
		-o-transition: 5s -o-filter linear;
		transition: 5s filter linear;
	}
#header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	h3 {font-size: 30px;}
	div.edit {
		position: absolute;
		top: 10px;
		right: 20px;
		width: 40px;
		height: 40px;
		font-size: 40px;
	}
	h2 {
		align-self: center;
	}
}


.tag-groups {
	color: black;
	font-size: 24px;
	font-family: 'Slabo 27px', sans-serif;
}

.map {
	width: 250px;
	height: 250px;
	border-radius: 5px;
}

.success-enter {
	opacity: 0.01;
}
.success-enter.success-enter-active {
	opacity: 1;
	transition: opacity 5s ease-in;
}

.success-leave {
	opacity: 1;
}
.sucess-leave.success-leave-active {
	opacity: 0.01;
	transition: opacity 500ms ease-in;
}
#success-message {
		display: flex;
		flex-direction: column;
		padding: 5px;
		font-size: 28px;
	  font-family: 'Dosis', sans-serif;
	  color: white;
	  text-align: center;
	 .ok {
	 	margin-top: 5%;
	 	width: 100%;
	 	border: 1px solid white;
	 	border-radius: 5px;
	 }
}
.event-by-date {
	color: white;
}
.cf:after {
	content: "";
	display: block;
	clear: both;
}