/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap';
 @import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
 @import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}
input {
	border: 1px solid black;
}
a {
 	text-decoration: none;
 	color: #aaa;
 }
a:hover {
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin: 0;
}
button {
	margin: 0 5px;
}

.nav-list {
  max-width: 250px;
  min-width: 150px;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
	li {
		display: block;
		border-bottom: 2px solid #aaa;
	}
	li:first-child {
		border-top: 2px solid #aaa;
	}
	li:hover {
		background-color: #aaa;
		color: black;
	}
}
.nav-list-user {
	margin-top: 50px;
}
.nav-div {
	width: 100%;
}
.group-nav {
	background-color: white;
	width: 83%;
	margin: 0 auto;
	display: block;
	height: 50px;
	margin-top: 5%;
	li {
		display: inline-block;
		padding: 5px;
		font-family:'Open Sans Condensed', sans-serif;
		color: #575A5C;
		float: left;
		font-size: 20px;
		margin-right: 40px;
		a {
			vertical-align: bottom;
		}
		a:hover {
			background-color: black;
			opacity: 0.7;
			color: white;
		}
	}

}
.banner {
	height: 600px;
	overflow: hidden;
	margin-top: -20px;
	img {
		height: auto;
		width: 100%;
		position: relative;
		top: -500px;
	}
}

.group-detail {
	width: 80%;
	margin: 10px auto 0 auto;
	background-color: #eee;
	opacity: 0.9;
	border: 1px solid transparent;
	border-radius: 5px;
	box-shadow: 1px 1px 0px black;
	padding: 20px;
}

.group-index {
	width: 80%;
	margin: 0 auto;
	.group-index-item {
		min-height: 100px;
		height: auto;
		overflow: hidden;
		padding: 20px 0;
		margin: 0 10px 20px 10px;
		width: 30%;
		min-width: 250px;
		float: left;
		font-size: 24px;
	  font-family: 'Dosis', sans-serif;
	  color: white;
	  border-radius: 4px;
	}
	.group-index-item h4{
		font-size: 60px;
		text-align: center;
		vertical-align: center;
	}
	.group-index-item:hover {
		background-color: #aaa;
	}
}


.main-buttons {
	font-family: 'Dosis', sans-serif;
	background-color: black;
	opacity: 0.8;
	width: 10em;
	height: 2em;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 5px;
	border: 1px solid transparent;
}

.user-button a:hover {
	font: grey;
}
.user-button  {
	width: 15em;
	margin: 0 auto;
	text-align: center;
	li {
		display: inline;
		float: left;
		font-size: 1.5em;
		whitespace: nowrap;
	}

	li:first-child {
		margin-right: 30px;
	}
}

.member-list {
	padding: 20px;
	li {
		font-size: 24px;
	}
}
.map {
	width: 500px;
	height: 500px;
}

.cf:after {
	content: "";
	display: block;
	clear: both;
}