.confirmation-alert {
	color: white;
	font-size: 28px;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	.button-div {
		margin-top: 10%;
			display: flex;
			justify-content: space-around;
			flex-direction: row;
		button {
			width: 50%;
			padding: 5px;
			text-align: center;
		}	
		button:hover {
			border: 3px solid white;
		}
	}
}