.user-profile {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Titillium Web', sans-serif;

	.user-name {
		background-color: #631639;
		text-align: center;
		font-size: 24px;
		border-radius: 5px;
		margin-bottom: 10%;
	}

	.profile-detail {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		font-size: 18px;

		.profile-pic {
			border: 5px solid white;
			border-radius: 25px;
		}

		.user-detail label {
			font-size: 22px;
		}
	}

	.close-icon {
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		background: transparent;
	}

	.close-icon:hover{
		color: #ff4500;
	}
}

.current-user-profile {
	background-color: #f7f5fa;
	width: 60%;
	min-width: 400px;
	max-width: 550px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	margin: 10% auto 0 auto;
	opacity: 0.7;
	border: 2px solid black;
	margin-top: 5%;
	border-radius: 5px;
	padding: 20px;
	font-family: 'Slabo 27px', sans-serif;

	.user-name {
		text-align: center;
		font-size: 24px;
		background-color: #31a5c6;
		color: white;
		border-radius: 5px;
	}

	.sub-section {
		margin-top: 6%;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.profile-img {
		overflow: hidden;
		border-radius: 5px;
	}

	.profile-list {
		width: 60%;
		margin-left: 30px;
		float: left;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.profile-edit-button {
		margin-top: 7%;
		font-size: 16px;
		display: flex;
		justify-content: center;
	}
}

.profile-list > li {
	border-bottom: 2px solid black;
	padding: 20px 0;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
}

.profile-list > li:first-child {
	border-top: 2px solid black;
}

.edit-profile,
.change-password {
	background-color: #a5c631;
	padding: 10px 15px;
	border-radius: 3px;
	color: white;
	width: 50%;
	text-align: center;
}

.edit-profile:hover,
.change-password:hover {
	opacity: 0.8;
	color: black;
}

.edit-profile {
	background-color: #31c652;
}

.group-list {
	text-indent: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	li {
		width: 50%;
	}
}

.glist {
	display: flex;
	flex-direction: column;
}

.group-list ul {
	align-self: flex-end;
	flex-wrap: nowrap;
}