.participant-list {
	li {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 1%;
		.ev-name {
			font-size: 18px;
		}
				.mini-pic {
					width: 45px;
					height: 45px;
					border-radius: 55px;
				}
	}
}