.participant-list {
	li {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-bottom: 1%;

		.ev-name {
			font-size: 16px;
		}

		.mini-pic {
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
	}
}