.redirect {
	color: white;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-size: 16px;

	a {
		color: #3c69ff;
		cursor: pointer;
	}
}

.user-forms {
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-flow: wrap;

	.form-line {
		max-width: 500px;
		padding-bottom: 15px;
		font-size: 18px;
		display: flex;
		position: relative;

		label {
			color: white;
			font-family: 'Dosis', sans-serif;
			min-width: 150px;
		}

		input {
			margin-bottom: 20px;
			padding: 5px;
			background-color: white;
			border-radius: 5px;
			width: 200px;
		}

		input:focus {
			border: 1px solid transparent;
		  box-shadow: 0 0 3px 2px #969696;
		}


		.error-field {
			border: 1px solid #ff1414;
		  box-shadow: 0 0 3px 2px #ff1414;
		}

		.error-field:focus {
			border: 1px solid transparent;
		  box-shadow: 0 0 3px 2px #969696;
		  & ~ .hint {
		  	display: none;
		  }
		}

		.hint {
			font-size: 12px;
			color: #ff1414;
			right: 0;
			position: absolute;
			bottom: 10px;
		}
	}

	.guest-login,
	.button-create,
	.button-login  {
		background-color: orange;
		color: white;
		padding: 10px;
		border-radius: 4px;
		font-size: 15px;
		cursor: pointer;

	}

	.button-create:hover {
		background-color: rgba(255, 165, 0, 0.75);
	}

	.guest-login {
		width: 100px;
		text-align: center;
		&:hover {
			background-color: rgba(255, 165, 0, 0.75);
		}
	}

	.button-login {
		background-color: #72B49B;
		width: 100px;
		text-align: center;
		&:hover {
			background-color: rgba(114, 180, 155, 0.75);
		}
	}
}

.form-div h3 {
	color: white;
	text-align: center;
	font-size: 36px;
	font-family: 'Dosis', sans-serif;
}

.log-in-errors {
	color: red;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	text-indent: 20px;
}

.close-form {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 25px;
	height: 25px;
	font-size: 25px;
	color: white;
	opacity: 1;
	cursor: pointer;
}

.close-form:hover {
	color: #69f;
}

.form-btn-div {
	display: flex;
	padding-top: 20px;
	justify-content: space-around;
}

@media screen and (max-width: 490px){
	.user-forms {
		padding: 20px;

		.form-line { font-size: 20px; }
		label { width: 100px; }
		input { width: 200px; }
	}

	.form-btn-div { margin-top: 60px; }
}

.group-form-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: column;
	position: relative;
	border: 2px solid #333;
	padding: 25px 25px;
	border-radius: 3px;
	margin: 0 auto;
	max-width: 400px;
	width: 60%;
	min-width: 300px;
	height: 60%;
	font-family: 'Dosis', sans-serif;

	.group-form-title {
		font-size: 24px;
		align-self: center;
		margin-bottom: 5%;
	}

	.group-form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 16px;
		margin-top: 10px;

		.form-line {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		input {
			margin-bottom: 5%;
			font-size: 14px;
			border: 1px solid black;
			padding: 5px;
			width: 60%;
			border-radius: 3px;
		}

		textarea {
			border: 1px solid black;
			padding: 5px;
			width: 60%;
			border-radius: 3px;
			margin-bottom: 5%;
		}

		input:focus {
			border: 1px solid transparent;
		  box-shadow: 0 0 3px 2px #969696;
		}


		.error-field {
			border: 1px solid #ff1414;
		  box-shadow: 0 0 3px 2px #ff1414;
		}

		.error-field:focus {
			border: 1px solid transparent;
		  box-shadow: 0 0 3px 2px #969696;
		  & ~ .hint {
		  	display: none;
		  }
		}

		.hint {
			display: initial;
			font-size: 12px;
			color: #ff1414;
			right: 0;
			position: absolute;
			bottom: 2px;
		}
	}
	.create-group-button {
		margin-top: 5%;
		width: 60%;
		align-self: center;
		text-align: center;
		cursor: pointer;
		border: 1px solid transparent !important;
		color: white;
		background-color: rgb(173, 55, 40);
		&:hover {
			background-color: rgba(173, 55, 40, 0.75);
		}
	}
}

.event-form .close-icon {
	background-color: transparent;
	color: black;
}
.event-form .close-icon:hover {
	color: white;
}

.event-form {
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	width: 100%;
	margin: 0 auto;
	margin-top: 10%;

	.form-line {
		display: flex;
		flex-direction: row;
		margin-bottom: 3%;
		label {
			width: 30%;
		}
	}
	input, textarea {
		width: 60%;

		border: 1px solid black;
		border-radius: 3px;
		padding: 5px;
		align-self: center;
	}

	.submit-button {
		margin-top: 20px;
		text-align: center;
		background-color: red;
		color: white;
		border: none;
	}
}

.event-form-div .title {
	text-align: center;
	font-size: 28px;
	font-family: 'Dosis', sans-serif;
}
.back-button {
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 20px;
  width: 40px;
  height: 40px;
  background-image: url(https://cdn0.iconfinder.com/data/icons/realty-1/512/doghouse-256.png);
  background-size: cover;
}

.paw-print {
	position: absolute;
	bottom: 40px;
	left: 20px;
	width: 120px;
	height: 120px;
	background-image: url(http://image.spreadshirtmedia.com/image-server/v1/designs/11545505,width=200,height=200);
	background-size: cover;
}

#multiple-checkbox-div {
	display: flex;
	flex-direction: column;
}
