@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic);
.user-forms {
	padding: 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-flow: wrap;
	
	.form-line {
		width: 550px;
		margin-bottom: 10px;
		font-size: 24px;
		label {
			color: white;
			font-family: 'Dosis', sans-serif;
			min-width: 150px;
		}

		input {
			margin-bottom: 20px;
			padding: 5px;
			background-color: white;
			border-radius: 5px;
			width: 240px		
		}

	}
	.guest-login, .button-create, .button-login  {
		background-color: orange;
		color: white;
		padding: 10px;
		border-radius: 4px;
		font-size: 18px;
		cursor: pointer;
	}

	.guest-login {
		width: 100px;
		text-align: center;
	}
	.button-login {
		background-color: #72B49B;
		width: 100px;
		text-align: center;
	}
}

.form-div h3 {
	color: white;
	text-align: center;
	font-size: 50px;
	font-family: 'Dosis', sans-serif;
}

.close-form {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 25px;
	height: 25px;
	font-size: 25px;
	color: white;
	background-color: black;
	opacity: 1;
	cursor: pointer;
}

.close-form:hover {
	color: #69f;
}

.form-btn-div {
	display: flex;
	margin-top: 80px;
	justify-content: space-around;
}