@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic);
.redirect {
	color: white;
	font-family: 'Dosis', sans-serif;
	text-align: center;
	font-size: 16px;
	a {
		color: #3c69ff;	
		cursor: pointer;
	}

}
.user-forms {
	padding: 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-flow: wrap;
	
	.form-line {
		width: 550px;
		margin-bottom: 10px;
		font-size: 24px;
		display: flex;

		label {
			color: white;
			font-family: 'Dosis', sans-serif;
			min-width: 150px;
		}

		input {
			margin-bottom: 20px;
			padding: 5px;
			background-color: white;
			border-radius: 5px;
			width: 240px;
		}
		input:focus {
			  border: solid 1px #707070;
			  box-shadow: 0 0 10px 5px #969696;
		}
		input:focus:invalid {
			  border: solid 1px #ff1414;
			  box-shadow: 0 0 10px 5px #ff1414;
		}
		input:focus:invalid:after {
			content: "*";
			color: red;
			font-size: 24px;
		}
		input:focus:valid {
			border: solid 1px #14ff14;
			box-shadow: 0 0 10px 5px #14ff14;
		}
	}
	.guest-login, .button-create, .button-login  {
		background-color: orange;
		color: white;
		padding: 10px;
		border-radius: 4px;
		font-size: 18px;
		cursor: pointer;
	}

	.guest-login {
		width: 100px;
		text-align: center;
	}
	.button-login {
		background-color: #72B49B;
		width: 100px;
		text-align: center;
	}
}

.form-div h3 {
	color: white;
	text-align: center;
	font-size: 50px;
	font-family: 'Dosis', sans-serif;
}
.log-in-errors {
	color: red;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	text-indent: 20px;
}
.close-form {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 25px;
	height: 25px;
	font-size: 25px;
	color: white;
	background-color: black;
	opacity: 1;
	cursor: pointer;
}

.close-form:hover {
	color: #69f;
}

.form-btn-div {
	display: flex;
	margin-top: 80px;
	justify-content: space-around;

}

.group-form-container {
	border: 2px solid #333;
	padding: 50px 30px;
	border-radius: 3px;
	margin: 15% auto;
	width: 60%;
	max-width: 600px;
	height: 60%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: column;
			font-family: 'Dosis', sans-serif;
	.group-form-title {
		font-size: 50px;
		align-self: center;
		margin-bottom: 5%;
	}
	.group-form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 24px;
		.form-line {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		input {
			margin-bottom: 5%;
			border: 2px solid black;
			padding: 5px;
			width: 60%;
			border-radius: 3px;
		}
		input:focus {
			  border: solid 1px #707070;
			  box-shadow: 0 0 10px 5px #969696;
		}
		input:focus:invalid {
			  border: solid 1px #ff1414;
			  box-shadow: 0 0 10px 5px #ff1414;
		}
		textarea {
			border: 2px solid black;
			padding: 10px;
			width: 60%;
			border-radius: 3px;
			margin-bottom: 5%;
		}
	}
	.create-group-button {
		margin-top: 5%;
		width: 60%;
		align-self: center;
		text-align: center;
		cursor: pointer;
	}
}

.event-form {
	color: black;
	display: flex;
	flex-direction: column;
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	input, textarea {
		width: 100%;
		margin-bottom: 3%;
		border: 1px solid black;
		border-radius: 3px;
		padding: 5px;
		align-self: center;
	}
	textarea {
	}
}
.back-button {
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 20px;
 width: 60px;
 height: 60px;
 background-image: url(https://cdn0.iconfinder.com/data/icons/realty-1/512/doghouse-256.png);
 background-size: cover;
}
.paw-print {
	position: absolute;
	bottom: 40px;
	left: 20px;
	width: 180px;
	height: 180px;
	background-image: url(http://image.spreadshirtmedia.com/image-server/v1/designs/11545505,width=200,height=200);
	background-size: cover;
}
.group-form-container {
	position: relative;
}