@mixin index-item-anim {
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

.group-index {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 350px;
}

.group-index-body {
	padding-top: 3%;
	background-color: rgba(0, 0, 0, 0.8);
}
 .front-side, .back-side {
 	position: absolute;
	transform-style: preserve-3d;
	backface-visibility: hidden;
		height: 160px;
		height: 11.25vw;
		width: 28vw;
		min-width: 250px;
		min-height: 106px;
		/*overflow: hidden;*/
		padding: 20px 0;
		margin: 0 10px 10px 0px;
		font-family: 'Open sans', sans-serif;
	  font-weight: 700;
	  @include index-item-anim;
}

.front-side {
	transform: rotateX(0deg);
	opacity: 1
}
.back-side {
	 position: absolute;
	transform: rotateX(-180deg);
	background-color: black;
	color: white;
	opacity: 0.1;
	p {
		font-size: 18px;
	}
}
.group-index-card {
	position: relative;
		transform-style: preserve-3d;
	backface-visibility: hidden;
		height: 160px;
		height: 11.25vw;
		width: 28vw;
		min-width: 250px;
		min-height: 106px;
		/*overflow: hidden;*/
		padding: 20px 0;
		margin: 0 10px 10px 0px;
		cursor: pointer;

}
.group-index-item {
		perspective: 1000px;
		display: flex;
		flex-direction: column;
		/*justify-content: space-between;*/
/*		height: 160px;
		height: 11.25vw;
		width: 28vw;
		min-width: 250px;
		min-height: 106px;
		overflow: hidden;
		padding: 20px 0;
		margin: 0 10px 10px 0px;*/
	  font-family: 'Open sans', sans-serif;
	  font-weight: 700;
	  color: white;
	}

#hidden-tags {
		font-family: 'Open sans', sans-serif;
		font-size: 16px;
		text-align: center;
		color: white;
		text-shadow: 1px 2px black;
		display: flex;
		flex-direction: row;
		.hidden-tags-tags {
			margin-top: 15px;
			background-color: #444;
			opacity: 0.8;
			border-radius: 3px;
			margin-left: 10px;
			padding: 5px 10px;
			position: relative;
		}
		.hidden-tags-tags:before {
			content: "";
			width: 10px;
			padding: 10px;
			border-width: 12px 12px 12px 0;
		}
		.hidden-tags-tags:after {
			content:"";
			position: absolute;
			top: 13px;
			left: 10px;
			width:6px;
			height:6px;
			-moz-border-radius:25px;
			-webkit-border-radius:25px;
			border-radius:25px;
			background-color: white;
		}
	}


	.group-index-item h4{
		font-size: 2vw;
		text-align: center;
		text-shadow: 1px 1px black;
	}
	.group-index-item:hover {
		opacity: 0.9;
		justify-content: space-between;
		/*@include index-item-anim;*/
	}

/*	.group-index-item:hover h4{
		-webkit-filter: blur(0.5px);
	  -moz-filter: blur(0.5px);
	  -o-filter: blur(0.5px);
	  -ms-filter: blur(0.5px);
	  filter: blur(0.5px);
		-webkit-transition: 1s -webkit-filter linear;
		-moz-transition: 1s -moz-filter linear;
		-moz-transition: 1s filter linear;
		-ms-transition: 1s -ms-filter linear;
		-o-transition: 1s -o-filter linear;
		transition: 1s filter linear;
	}*/

	.group-index-card:hover .back-side {
		display: flex;

		flex-direction: column;

/*		text-shadow: 1px 1px black;*/
		/*align-self: flex-start;*/
		transform: translateY(-20px);
		transform: rotateX(0deg);
		@include index-item-anim;
		opacity: 0.9;
	}
	.group-index-card:hover .front-side {
		transform: rotateX(-180deg);
		opacity: 0;
	}
@media only screen and (max-width: 1100px){
	.group-index-item h4{
		font-size: 2.5vw;
	}
}
@media only screen and (max-width: 800px){
	.group-index-card, .group-index-item, .back-side {
		width: 40vw;
	}
	.group-index-item h4{
		font-size: 25px;
	}
}
@media only screen and (max-width: 645px){
	.group-index-card, .group-index-item, .back-side {
		width: 350px;
		h4 {
			font-size: 25px;
			
		}
	}
	
}