
.nav-div {
	position: relative;
	display: flex;
	width: 100%;
	min-width: 820px;
	height: 250px;
	justify-content: flex-end;
	align-items: middle;
/*	align-items: flex-start;*/
	flex-direction: column;
	background-image: url('/pictures/banner2.jpg');
	-ms-background-position-x: center;
  -ms-background-position-y: center;
  background-position: center 65%;
  font-size: 40px;
		font-family: 'Kaushan Script', cursive;
		color: black;
		text-shadow: 2px 2px #ccc;
  /* scale bg image proportionately */
  background-size: cover;
	margin: 0 auto;
	.title-container {
		position: absolute;
		left: 15%;
		top: 2%;
	}
		input {
		font-family: 'Kaushan Script', cursive;
		align-self: center;
		margin-left: 20px;
		font-size: 40px;
		color: #000;

	}
	input {
		padding: 5px;
		border: 2px solid white;
	}
	.edit {
		position: absolute;
		top: 0px;
		left: 0px;
		font-size: 20px;
		color: white;
	}
	.edit:hover {
		background-color: white;
		color: black;
	}
}
.group-nav-container {
			min-width: 820px;
			position: relative;
			top: -50px;
			background-color: #666;
			 filter: blur(5px);
			 -webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
			opacity: 0.9;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			z-index: -1;
}
@media (min-width: 1244px){
	.nav-div {
			background-image: url('/pictures/banner-sm.jpg');
			-ms-background-position-x: center;
		  -ms-background-position-y: center;
		  background-position: center 65%;

		  /* scale bg image proportionately */
		  background-size: cover;
	}
}
.group-nav {
	display: flex;
	flex-direction: row;
	margin-left: 5%;
	width: 100%;
	height: 50px;
}
.admin-group-nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 50px;
}
.group-nav li, .admin-group-nav li {
		display: inline-block;
		padding: 5px;
		font-family:'Open Sans Condensed', sans-serif;
		color: #575A5C;
		font-size: 24px;
		margin-right: 40px;
		align-items: flex-end;
		a:hover {
			background-color: black;
			opacity: 0.7;
			color: white;
		}
}



.join-group, .leave-group {	
	position: relative;
	font-family:'Open Sans Condensed', sans-serif;
	width: 150px;
	min-width: 120px;
	height: 50px;
	min-height: 30px;
	color: white;
	border-radius: 5px;
	text-align: center;
	font-size: 24px;
}

.join-group {
		background-color: #338DDB;
}
.leave-group {
	background-color: red;
}