@mixin index-item-anim {
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}

.group-index {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 350px;
}
.group-index-body {
	padding-top: 3%;
	background-color: rgb(33, 33, 33);

}

.group-index-item {
		/*flex: 2 2 300px;*/
		height: 160px;
		height: 15vw;
		width: 40vw;
		overflow: hidden;
		padding: 20px 0;
		margin: 0 10px 20px 10px;
		float: left;
	  font-family: 'Dosis', sans-serif;
	  font-weight: 700;
	  color: white;
	  border-radius: 4px;
	}
	#hidden-tags {
	  transform: translateY(0px);
		font-family: 'Dosis', sans-serif;
		font-size: 16px;
		text-align: center;
		color: white;
		display: none;
		text-shadow: 1px 1px black;
		flex-direction: row;

		.hidden-tags-tags {
			margin-top: 15px;
			background-color: #444;
			opacity: 0.8;
			border-radius: 3px;
			margin-left: 10px;
			padding: 5px 10px;
			position: relative;
		}
		.hidden-tags-tags:before {
			content: "";
			width: 10px;
			padding: 10px;
			border-width: 12px 12px 12px 0;
		}
		.hidden-tags-tags:after {
			content:"";
			position: absolute;
			top: 13px;
			left: 10px;
			width:6px;
			height:6px;
			-moz-border-radius:25px;
			-webkit-border-radius:25px;
			border-radius:25px;
			background-color: white;
		}
	}
	.image-mask {
		width: 100%;
		background-color: black;
	}

	.group-index-item h4{
		font-size: 3vw;
		text-align: center;
		text-shadow: 1px 1px black;
	}
	.group-index-item:hover {
		cursor: pointer;
		opacity: 0.9;
		transform: scale(1.05, 1.05);
		@include index-item-anim;
	}

	.group-index-item:hover h4{
		-webkit-filter: blur(0.5px);
	  -moz-filter: blur(0.5px);
	  -o-filter: blur(0.5px);
	  -ms-filter: blur(0.5px);
	  filter: blur(0.5px);
		-webkit-transition: 1s -webkit-filter linear;
		-moz-transition: 1s -moz-filter linear;
		-moz-transition: 1s filter linear;
		-ms-transition: 1s -ms-filter linear;
		-o-transition: 1s -o-filter linear;
		transition: 1s filter linear;
	}
	.group-index-item:hover #hidden-tags {
		display: flex;
		justify-content: flex-start;
		text-shadow: 1px 1px black;
		align-self: flex-end;
		transform: translateY(-20px);
		@include index-item-anim;
	}

@media only screen and (max-width: 1100px){
	.group-index-item h4{
		font-size: 3.5vw;
	}
}