.group-parent-div {
	background-image: url('/background-image.jpg');
	background-size: cover;
	height: 1000;
	width: 100%;
}
.group-info-container {
	display: flex;
	flex-direction: column;
}
.group-tags {
	a {
		color: black;
		font-weight: 700;
	}
}
.group-home {

		font-family: 'Titillium Web', sans-serif;
	display: flex;
	flex-direction: row;
	margin: 5% auto 0 auto;
	justify-content: space-around;
	font-size: 16px;
	width: 90%;
	.founded {
		margin-bottom: 10px;
	}
	.address {
		font-size: 22px;
		font-weight: 700;
	}
	.group-info {
		border: 3px solid #333;
		border-radius: 10px;
		box-shadow: 2px 2px 0 2px #aaa;
		width: 25%;
		min-width: 170px;
		padding: 15px;
		margin-right: 5px;
		li {
			list-style-type: none;
			
		}
		.stats {
			display:flex;
			justify-content: space-between;
			margin-bottom: 5px;
		}
	}
	.group-description {
		position: relative;
		border: 3px solid #333;
		border-radius: 10px;
		box-shadow: 2px 2px 0 2px #aaa;
		width: 100%;
		padding: 15px;
		min-width: 470px;
		.edit {
			color: black;
			font-size: 20px;
			position: absolute;
			right: 10px;
			top: 10px;
		}
		.edit:hover {
			background-color: black;
			color: white;
		}
		#group-descript-text {
			border: 2px solid black;
			width: 80%;
			padding: 10px;
			border-radius: 5px;
		}
	}
}
	.event-container {
		margin-top: 5px;
		width: 100%;
		min-width: 470px;
		border: 3px solid #333;
		padding: 15px;
		border-radius: 10px;
		box-shadow: 2px 2px 0 2px #aaa;

	}
	.group-member-container {
		border: 3px solid #333;
		border-radius: 10px;
		box-shadow: 2px 2px 0 2px #aaa;
		padding: 15px;
		border-radius: 10px;
		margin-left: 50px;
		a {
			color: black;
			cursor: pointer;
		}
		.member-list {
			padding: 20px;
	li {
			font-size: 18px;
			margin-bottom: 2px;
	}
}
	}