@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700);
.group-detail {
	min-width: 500px;
}
.rsvp {
	background-color: #2372b2;
	padding: 5px 15px;
	color: white;
	border-radius: 5px;

}
.rsvp:hover {
	background-color: #0e2d47	;
	box-shadow: 0 0 2px 5px #eee;
}
.group-event-container {
	min-width: 470px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 4px solid black;
	font-family: 'Titillium Web', sans-serif;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	.group-event-title {
		font-size: 24px;
	}
}
	.group-event-detail {
		min-width: 470px;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.event-detail-left {
		font-size: 16px;
		width: 70%;
		margin-right: 10px;
		min-width: 270px;
		.location {
			font-size: 22px;
		}
	}
	.event-detail-right {
		align-self: flex-start;
		text-align: right;
		margin-right: 0;
		min-width: 150px;
		.event-time {
			font-size: 26px;
			font-weight: 700;
		}
		.event-hour {
			font-size: 24px;
		}
	}

.group-event-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-family: 'Titillium Web', sans-serif;
	justify-content: space-around;
	margin-bottom: 20px;
	li {
		list-style-type: none;
		font-size: 24px;
		color: #36384c;
	}
	.active-tab {
		border-bottom: 5px solid #36384c;
		font-weight: 900;
	}
}

.event-details {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 78%;
	margin: 0px;
		border: 1px solid black;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 2px 2px 2px 0 black;
	.date-and-time {
		padding-bottom: 10px;
		border-bottom: 3px solid black;
		h3 {
			font-size: 22px;
			margin-bottom: 4px;
		}
		p {
			font-size:18px;
		}
	}
	.event-sub {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
			p {
				font-size: 18px;
				margin-top: 2px;
			}
		.event-time-info {
			display:flex;
			flex-direction: column;

		}
		.location {
			h4 {
				margin-bottom: 2px;
			}
		}
	}
}

.event-parent {
	font-family: 'Titillium Web', sans-serif;
	margin: 10px auto 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 90%;
	.rsvp-member {
		margin: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		align-content: center;
		border: 1px solid black;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 2px 2px 2px 0 black;
		.rsvp-buttons {
			padding-bottom: 5px;
			border-bottom: 5px solid black;
			margin-bottom: 10px;
		}
				#title {
			font-size: 24px;
		}
			button {
					padding: 5px 10px;
					color: white;
					border-radius: 4px;
					font-size: 16px;
					cursor: pointer;
					align-self: center;
			}
	.join {
		background-color: #30690E;
	}
	.leave {
		background-color: #791710;
	}
	.join:hover {
		background-color: #BFE4A9;
	}
	.leave:hover {
		background-color: #DB7D76;
	}
	}
}