.parent-container {
	width: 80%;
}
.events-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-events-detail {
	display: flex;
	flex-direction: column;
	border: 2px solid #aaa;
	border-radius: 4px;
	opacity: 0.9;
}
