@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

#parent-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	width: 80%;
	margin: 200px auto 0 auto;
	font-family: 'Roboto Slab', serif;
	color: black;
	.title {
		font-size: 35px;
		margin-bottom: 10%;
	}
}

#parent-container > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-width: 600px;
}
#parent-container > div > div {
		margin-bottom: 3%;
		width: 50%;
		.link:hover {
			color: #9c645b;

		}
		.link {
			cursor: pointer;
		}
		li {
			list-style-type: none;
			font-size: 22px;
			margin-left: 5%;
			margin-bottom: 7px;
			width: 95%;
			min-width: 300px;
			display: flex;
			flex-direction: column;
			border-bottom: 2px solid #eee;
		}

	}

.events-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#event-background-image {
		background-image: url('/dog-holding-board.jpg');
		background-size: cover;
		min-height: 1524px;
		width: auto;
		position: absolute;
		top: 0;
/*		transform: translateY(-200px);
		-ms-transform: translateY(-200px);
		-webkit-transform: translateY(-200px);*/
	
}