.search-bar {
	/*background-color: #72b49b;*/
	background-color: #7bd;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	.divider {
		width: 1px;
		height: 100px;
		background-color: #eee;
	}
	.search-container-sm {
		border: 2px solid #aaa;	
		border-radius: 25px;
		overflow: hidden;
		background-color: white;
		opacity: 0.8;
		height: 30px;

		input {
			float: left;
			height: 30px;
			border: none;
			font-size: 18px;
		}

		.search-icon-sm {
			background-color: white;
			position: relative;
			top: -5px;
			color: black;
			height: 40px;
			width: 40px;
			float: left;
		}

	}
}
.search-icon-main {
	height: 50px;
	width: 50px;
	background-image: url("/search.png");
	background-size: cover;
	cursor: pointer;
	position: relative;
}

	.search-by-tag  {
		width: 50px;
		height: 50px;
		cursor: pointer;
		background-image: url("/tag-icon.png");
		background-size: cover;
	}

.tag-index {
	display: none;
}
.search-by-tag:hover .tag-index {
	display: block;
}

.tag-list {
	background-color: black;
	color: white;
	padding: 5px;
	position: relative;
	bottom: -62px;
	left: 10px;
	width: 600%;
	border-radius: 5px;
	border: 1px solid white;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;

	li {
		font-family: 'Dosis', sans-serif;
		text-align: center;
		font-size: 24px;
		 width: 50%;
		 border-radius: 5px;
	}
	li:hover {
		background-color: white;
		color: black;
		opacity: 0.8;
	}
}

.searching-by-tag {
	font-size: 24px;
	font-family: 'Dosis', sans-serif;
	p {
		font-size: 18px;
		text-decoration: underline;
		color: #0a79b6;
		cursor: pointer;
	}
	p:hover {
		color: #053c5b;
	}
}