@mixin showSearch {
	transition: all 1s cubic-bezier(.53, .15, .1, .59) 0.2s;
	-moz-transition: all 1s cubic-bezier(.53, .15, .1, .59) 0.2s;
	-webkit-transition: all 1s cubic-bezier(.53, .15, .1, .59) 0.2s;
	-o-transition: all 1s cubic-bezier(.53, .15, .1, .59) 0.2s;
}


.search-tooltip {
	visibility: hidden;
	position: absolute;
	margin-top: 5px;
	z-index: 15;
	box-shadow: 1px 2px 2px #E0E0E0;
}

.search-tooltip:after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  bottom: 90%;
  content: " ";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  z-index: 1000;
}

.search-tooltip:before{
	content: " ";
	position: absolute;
	background-color: transparent;
	bottom: 99%;
	width: 260px;
	height: 10px;
}

.search-container-sm {
	color: black;
  overflow: hidden;
	border-radius: 4px;
	background-color: white;
	height: 30px;
	padding: 5px;

	input {
		width: 200px;
		color: black;
		float: left;
		height: 30px;
		border: none;
		font-size: 18px;
		z-index: 1001;
	}

	.search-icon-sm {
		background-color: white;
		position: relative;
		top: -5px;
		color: black;
		height: 40px;
		width: 40px;
		float: left;
	}

}

.search-icon:hover .search-tooltip{
	width: 260px;
	visibility: visible;
}


.search-icon, .tag-icon, .location-icon {
	position: relative;
}

.tag-list {
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.95);
	color: white;
	padding: 10px;
	padding-right: 20px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	z-index: 11;
	transform: translateY(15px);
	box-shadow: 1px 2px 2px black;
	li {
		font-family: 'Dosis', sans-serif;
		text-align: center;
		font-size: 20px;
		width: 40%;
		border-radius: 5px;
		display: flex;
		flex-wrap: nowrap;
		white-space: nowrap;
		justify-content: space-between;
		align-items: center;
	}

}
.tag-list:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid black;
  bottom: 100%;
  content: " ";
  left: -0.1%;
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1000;
}
.tag-list:before {
	position: absolute;
	width: 360px;
	bottom: 99%;
	content: " ";
	height: 25px;
	background-color: transparent;
}
.tag-icon:hover .tag-list {
	visibility: visible;
	width: 360px;
	height: 300px;
	/*@include showSearch;*/
}
.tag-icon input[type="checkbox"]{
	/*padding: 10px;*/
	/*font-size: 20px;*/
	-webkit-appearance: none;
	-moz-appearance: none;
	&:focus {
		outline: none;
		box-shadow: none;
	}
	&:checked:after {
		content: "\f00c";
		font-family: "FontAwesome";
		font-size: 14px;
		color: green;
		background-color: white;
		padding: 1px;
		cursor: pointer;
	}
	&:after {
		content: " ";
		cursor: pointer;
		border: 1px solid #E0E0E0;
		font-size: 12px;
		padding: 0.5px 8px 0px 8px;
		/*width: 5px;*/
		/*height: 5px;*/
		background-color: white;
	}
}
.tag-list button {
	font-size: 16px;
	padding: 5px 10px;
	background-color: grey;
	border-radius: 4px;
	&:hover {
		color: black;
		@include showSearch;
	}
}


.location-tooltip {
	visibility: hidden;
	background-color: white;
	z-index: 16;
	position: absolute;
	transform: translateY(15px);
	box-shadow: 1px 2px 2px #E0E0E0;
}

.location-icon:hover .location-tooltip {
	visibility: visible;
	padding: 10px;
	width: 200px;
	p {
		color: black;
		font-size: 16px;
	}
	input {
		width: 200px;

	}
}

.location-tooltip:before {
	content: " ";
	background-color: transparent;
	height: 15px;
	width: 200px;
	position: absolute;
	bottom: 100%;
}

.location-tooltip:after {
	content: " ";
	position: absolute;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid white;
	left: 0;
	width: 0;
	height: 0;
	z-index: 16;
	bottom: 100%;
}
