.search-bar {
	background-color: #72b49b;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;

	.search-container-sm {
		width: 500px;
		border: 2px solid #aaa;	
		border-radius: 25px;
		overflow: hidden;
		background-color: white;
		opacity: 0.8;
		height: 40px;

		input {
			float: left;
			height: 40px;
			border: none;
			font-size: 20px;
		}

		.search-icon-sm {
			background-color: white;
			position: relative;
			top: -5px;
			color: black;
			height: 50px;
			width: 50px;
			float: left;
		}

	}
}

	.search-by {

	}
	.search-by  {
		cursor: pointer;
		font-size: 28px;
		font-family: 'Slabo 27px', sans-serif;
	}

