.search-bar {
	background-color: #72b49b;
	width: 100%;
	height: 100px;
	position: relative;

}
.search-container-sm {
	position: relative;
	top: 50%;
	margin-top: -15px;
	width: 300px;
	margin-left: 200px;
	border: 2px solid #aaa;	
	border-radius: 25px;
	overflow: hidden;
	background-color: white;
	opacity: 0.8;
	float: left;
	height: 40px;
	input {
		float: left;
		height: 40px;
		border: none;
		font-size: 20px;
	}
	.search-icon-sm {
		background-color: white;
		position: relative;
		top: -5px;
		color: black;
		height: 50px;
		width: 50px;
		float: left;
	}
}
.search-by {
	float: left;
	margin-left: 25%;
	position: relative;
	top: 50%;
	margin-top: -24px;
}
.search-by h5 {
	font-size: 24px;
	font-family: 'Slabo 27px', sans-serif;
}