@mixin showSearch {
	transition: all 1s cubic-bezier(.53, .15, .1, .59) 0.2s;
	-moz-transition: all 1s cubic-bezier(.53, .15, .1, .59) 0.2s;
	-webkit-transition: all 1s cubic-bezier(.53, .15, .1, .59) 0.2s;
	-o-transition: all 1s cubic-bezier(.53, .15, .1, .59) 0.2s;
}


.search-tooltip {
		visibility: hidden;
		position: absolute;
		margin-top: 5px;
		z-index: 15;
		
}
.search-tooltip:after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  bottom: 90%;
  content: " ";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  z-index: 1000;
}
.search-container-sm {
	color: black;
	  overflow: hidden;
		/*border: 2px solid #aaa;	*/
		border-radius: 4px;
		background-color: white;
		height: 30px;
		input {
			width: 200px;
			color: black;
			float: left;
			height: 30px;
			border: none;
			font-size: 18px;
			z-index: 1001;
		}

		.search-icon-sm {
			background-color: white;
			position: relative;
			top: -5px;
			color: black;
			height: 40px;
			width: 40px;
			float: left;
		}

	}
.search-icon:hover .search-tooltip{
	width: 260px;
	visibility: visible;
}


.search-icon-main:hover, .search-by-dist:hover {
	opacity: 0.5;
}

.searchByDistance {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
}

.search-icon, .tag-icon {
	position: relative;
}

.tag-list {
	visibility: hidden;
	background-color: black;
	color: white;
	padding: 5px;
	margin-top: 5px;
	position: absolute;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	opacity: 0.9;
	z-index: 11;
	transform: translateY(15px);
	li {
		font-family: 'Dosis', sans-serif;
		text-align: center;
		font-size: 20px;
		width: 40%;
		border-radius: 5px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	li:hover {
		background-color: white;
		color: black;
		opacity: 0.8;
	}
}
.tag-list:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid black;
  bottom: 99%;
  content: " ";
  left: -0.3%;
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1000;
}
.tag-icon:hover .tag-list {
	visibility: visible;
	width: 350px;
	height: 300px;
	@include showSearch;
}

.searching-by-tag {
	font-size: 24px;
	font-family: 'Dosis', sans-serif;
	p {
		font-size: 18px;
		text-decoration: underline;
		color: #0a79b6;
		cursor: pointer;
	}
	p:hover {
		color: #053c5b;
	}
}

.search-hidden {
	opacity: 0;
	width: 0px;
}