/*.tag-list {
	margin-top: 30px;
	width: 70%;
	margin: 0 auto;
}
.tag-list > div {
		color: #ccc;
		font-size: 36px;
		border-bottom: 1px solid black;
		font-family: 'PT Sans Narrow', sans-serif;
		float: left;
		margin-right: 15%;
		width: 35%;
}
.tag-list > div:hover{
	color: black;
	background-color: #ccc;
}
.tag-div li {
	text-indent: 15px;
	font-size: 24px;
}
.tag-div > ul {
	display: none;
}*/
@-webkit-keyframes slow-show {
	0% {height: 0%;}
	25%	{height: 25%;}
	50%	{height: 50%;}
	75%	{height: 75%;}
	100%	{height: 100%;}
}
@keyframes slow-show {
	0% {height: 0%;}
	25%	{height: 25%;}
	50%	{height: 50%;}
	75%	{height: 75%;}
	100%	{height: 100%;}
}
.slow-show {
	animation-duration: 4s;
	animation-name: slow-show;
}
