.user-button  {
	display: flex;
	position: absolute;
	font-family: 'Dosis', sans-serif;
	top: 30px;
	right: 50px;
	width: 300px;
	text-align: center;
	justify-content: space-around;
	li {
		border: 1px solid white;
		background-color: black;
		opacity: 0.8;
		font-size: 1.5em;
		padding: 5px 25px;
		border-radius: 5px;
		width: 80px;
	}
	li a:first {
		margin-right: 20px;
	}
	li:hover {
		font: black;
		background-color: white;
	}
}
.user-text-button {
	position: absolute;
	top: 40px;
	right: 40px;
}
.user-text {
	position: relative;
	cursor: pointer;
	background-size: cover;
	width: 100px;
	height: 100px;

	border: 5px solid black;
	border-radius: 55px;
	background-color: black;
	opacity: 0.8;
	ul {
		display: none;
	}
}

.user-text:hover ul {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 62px;
	left: 0px;
	background-color: black;
	opacity: 0.7;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #999;
	width: 150%;
	overflow: hidden;
	li {
		padding: 5px;
	}
	a {
		color: white;
	}
	li:hover {
		background-color: #666;
		color: black;
	}
	li:first-child {
		border-bottom: 1px solid white;
	}
}
.user-text:hover ul:before {
	content: " ";
	transform: rotate(45deg);
	background-color: blue;
	position: absolute;
	top: -20px;
}