.user-button li {
	margin-right: 20px;
}
.user-button  {
	display: flex;
	position: fixed;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	top: 30px;
	right: 20px;
	width: 400px;
	text-align: center;
	justify-content: flex-end;
	a {
		color: white;
		font-weight: 400;
	}
	li {
		border: 3px solid white;
		background-color: transparent;
		opacity: 0.9;
		font-size: 1.5em;
		padding: 5px 25px;
		border-radius: 4px;
	}


	li:hover {
		transition: all 1s ease-out 0.2s;
		-moz-transition: all 1s ease-out 0.2s;
		-webkit-transition: all 1s ease-out 0.2s;
		-o-transition: all 1s ease-out 0.2s;
		border: 3px solid black;
		color: black;
	}
	li:hover a{
		transition: all 1s ease-out 0.2s;
		-moz-transition: all 1s ease-out 0.2s;
		-webkit-transition: all 1s ease-out 0.2s;
		-o-transition: all 1s ease-out 0.2s;
		color: black;

	}
}
.user-text-button {
	position: absolute;
	top: 40px;
	right: 40px;
}
.user-text {
	position: relative;
	cursor: pointer;
	background-size: cover;
	width: 15vw;
	height: 15vw;
	max-width: 80px;
	max-height: 80px;
	border: 5px solid black;
	border-radius: 55px;
	background-color: black;
	opacity: 0.8;
	ul {
		display: none;
	}
}

.user-text:hover ul {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 80px;
	background-color: black;
	opacity: 0.7;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #999;
	width: 100%;
	overflow: hidden;
	li {
		padding: 5px;
	}
	a {
		color: white;
	}
	li:hover {
		background-color: #666;
		color: black;
	}
	li:first-child {
		border-bottom: 1px solid white;
	}
}
.user-text:hover ul:before {
	content: " ";
	transform: rotate(45deg);
	background-color: blue;
	position: absolute;
	top: -20px;
}