.user-button  {
	display: flex;
	position: absolute;
	font-family: 'Dosis', sans-serif;
	top: 30px;
	right: 50px;
	width: 400px;
	text-align: center;
	justify-content: space-around;
	align-items: center;
	li {
		border: 1px solid white;
		background-color: black;
		opacity: 0.9;
		font-size: 1.5em;
		padding: 5px 40px;
		border-radius: 5px;
	}
	li a:first {
		margin-right: -15px;
	}
	li a:last {
		margin-left: -15px;
	}
	li:hover {
		transition: all 1s ease-out 0.2s;
		-moz-transition: all 1s ease-out 0.2s;
		-webkit-transition: all 1s ease-out 0.2s;
		-o-transition: all 1s ease-out 0.2s;
		background-color: white;
	}
	li a:hover {
		transition: all 1s ease-out 0.2s;
		-moz-transition: all 1s ease-out 0.2s;
		-webkit-transition: all 1s ease-out 0.2s;
		-o-transition: all 1s ease-out 0.2s;
		color: black;
	}
}
.user-text-button {
	position: absolute;
	top: 40px;
	right: 40px;
}
.user-text {
	position: relative;
	cursor: pointer;
	background-size: cover;
	width: 100px;
	height: 100px;

	border: 5px solid black;
	border-radius: 55px;
	background-color: black;
	opacity: 0.8;
	ul {
		display: none;
	}
}

.user-text:hover ul {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100px;
	background-color: black;
	opacity: 0.7;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #999;
	width: 100%;
	overflow: hidden;
	li {
		padding: 5px;
	}
	a {
		color: white;
	}
	li:hover {
		background-color: #666;
		color: black;
	}
	li:first-child {
		border-bottom: 1px solid white;
	}
}
.user-text:hover ul:before {
	content: " ";
	transform: rotate(45deg);
	background-color: blue;
	position: absolute;
	top: -20px;
}